/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
} */

ul {
    list-style: none;
}

header {
    /* START ---- TO CREATE FIXED POSITION */
        /* background-color: #ffffff;
        position: fixed;
        top:0;
        left:0;
        width: 100%; */
    /* END ---- TO CREATE FIXED POSITION */

    /* START ---- TO CREATE STICKY POSITION */
        /* position: sticky;
        background-color: #ffffff;
        top: 0; */
    /* END ---- TO CREATE STICKY POSITION */
    
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

nav{
    height: 60px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .brand-logo_img {
    height: auto;
    width: 100px;
}

nav .brand-logo_img img {
    height: 100%;
    width: 100%;
}

nav .brand-logo_text {   
    height: 100%;    
}
nav .brand-logo_text a{
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .menu {
    display: flex;
    height: 100%;
}

nav .menu li{    
    margin-top: 0;
    width: 100px;
}

nav .menu li a{ 
    font-size: 16px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

nav .menu li a:hover{ 
    font-weight: bold;      
}

nav .open-mobile-menu-btn{
    display: none;
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 10px 0;
}

/* --------- START OF MOBILE NAV -------- */
.mobile-nav_container{
    transform: translateX(-100%); 
    transition: transform .5s ease-in-out;
    
    overflow: hidden;          
}

.mobile-nav_container.active {
    transform: translateX(0);
    transition: transform .5s ease-in-out;
}



.mobile-nav_container{
    /* display: none; */
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;

    position: absolute;
    top: 0;
    z-index: 3;    
}

.mobile-nav {
    width: 100%;
    margin: 0 auto;

    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

.mobile-nav_container .mobile-nav_header{
    height: 60px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav_container .mobile-nav_header .brand-logo_text{
    height: 100%;
}

.mobile-nav_container .mobile-nav_header .brand-logo_text a {
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-nav_container .mobile-nav_header .close-mobile-menu-btn{
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 10px 0 10px 10px;
    cursor: pointer;
}

.mobile-nav_menu{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mobile-nav_menu li{
    height: 60px;
    margin-bottom: 10px;
}

.mobile-nav_menu li a {
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
}

.mobile-nav_menu li a:hover {
    font-weight: bold; 
}

@media (max-width: 600px) {

    nav .menu {
        display: none;
    }

    nav .open-mobile-menu-btn{
        display: block;
        
    }

    /* .mobile-nav_container{
        display: block;           
    } */
}