.hideOnDesktop{
    display: none;
}

.hideOnMobile {
    display: block;
}

.darkblue{
    color: #263641;
}

/* START OF HERO SECTION */

.mobilehero-image{
    width: 100%;
}

.mobilehero-image img{
    width: 100%;
}

.new-hero-image img{
    width: 100%;
}

.body-section.new-hero{
    height: 100%;
}

.profile-info {

    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
    color: #263641;
    text-align: center;
                
}

.profile-info .subhead{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.profile-info h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.gold-underline {
    border-bottom: 2px solid #E6C27F;
}
/* END OF HERO SECTION */

.skills-container{
    padding: 80px 50px;
    background-color: #F6F6F6;
    width: 100%;

}

.skills-layout{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px;
    justify-items: center;
}

.skills-container h1{
    text-align: center;
    color: #263641;
    font-size: 52px;
    margin-bottom: 50px;
}

.skill{
    width: 100%;
    max-width: 140px;
}

.skill .image{
    width: 100%;
    height: auto;
    max-width: 140px;
    margin-bottom: 10px;
}

.skill .image img{
    width: 100%;
    height: auto;
    max-width: 140px;
    object-fit: cover;
}


.new-about-me-container {
    width: 100%;
    display: flex;
    position: relative;
}

.new-about-me-container .nam-image{
    width: 50%;
}

.new-about-me-container .nam-image img{
    width: 100%;
}

.nam-info{
    width: 55%;
    max-width: 100%;
    border: 1px solid #263641;
    padding: 50px;
    height: fit-content;
    position: absolute;
    top: 20%;
    right:4%;
    background-color: #fff;
}

.nam-info h2{
    font-size: 44px;
    margin-bottom: 40px;
}

@media (max-width: 1150px){
    .skills-layout{
        grid-template-columns: repeat(3, 1fr);
        
    }
}

@media (max-width: 992px){
    .skills-layout{
        grid-template-columns: repeat(3, 1fr);
        
    }
}

@media (max-width: 820px){
    .new-about-me-container {
        width: 100%;
        display: block;
    }

    .new-about-me-container .nam-image{
        width: 100%;
        height: 60vh;
    }

    .new-about-me-container .nam-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    .nam-info{
        width: 100%;
        border: 1px solid #263641;
        padding: 30px;
        height: fit-content;
        background-color: #fff;
        position: relative;
        top: 0;
        right: 0;
    }

    .nam-info h2{
        font-size: 36px;
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .hideOnDesktop{
        display: block;
    }

    .hideOnMobile {
        display:none;
    }

    .skills-layout{
        grid-template-columns: repeat(2, 1fr);
        
    }

    .skills-container h1{
        font-size: 42px;
    }
}

@media (max-width: 480px){
    .skills-layout{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
        justify-items: center;
    }
}