
.projects-nav .menu{
    display: flex !important;
}

.body-section.project-page{
    display: block;
}

.project-page-title-banner {
    margin-top: 50px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 800;
    background-color: #263641;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 40px;
    /* border-radius: 8px; */
    margin-bottom: 50px;
}

.project-page-title-banner.yla-color{
    background-color: #263641 !important;
}

.project-page-title-banner.abandon-cart-page{
    background-color: #263641 !important;
}

.project-page-title-banner.email {
    margin-top: 30px;
    border: 2px solid #1F3C5C;
    color: #1F3C5C;
    background-color: #fff;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 50px;
}

.project-page-title-banner.email.yla-color-outline {
    border: 2px solid #222 !important;
    color: #222 !important;
}

.project-page-title-banner.email.abandon-cart-page-outline{
    border: 2px solid #263641 !important;
    color: #263641 !important;
}

.project-page-content {
    margin-bottom: 0px;
    padding-top: 100px;

}

.project-page-content h2 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.project-page-content h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.project-page-content .ordered-list-numbers{
    font-size: 18px;
    line-height: 24px;
}

.project-page-content .p-after-ol{
    margin-left: 20px;
}

.screenshots-of-popup{
    display: flex;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    width: 100%;
    gap: 50px;
    margin-bottom: 30px;
}

.screenshots-of-popup .desktop-screenshot{
    width: 50%;
    max-width: 700px;
    
}
.screenshots-of-popup .desktop-screenshot img{
    width: 100%;
}

.screenshots-of-popup .mobile-screenshot{
    width: 50%;
    max-width: 600px;
}
.screenshots-of-popup .mobile-screenshot img{
    width: 100%;
}


.emails-container .email-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.emails-container .email-content .email-info-left{
    width: 50%;
    max-width: 700px;
    
}

.emails-container .email-content .email-info-left .email-info-left-section{
    margin-bottom: 30px;
}

.emails-container .email-content .email-info-right{
    width: 50%;
    max-width: 300px;
}

.emails-container .email-content .email-info-right .image{
    width: 100%;
    margin-bottom: 20px;
}

.emails-container .email-content .email-info-right .image img{
    width: 100%;
}

.calender-image{
    width: 100%;
    max-width: 1140px;
}

.calender-image img{
    width: 100%;
}

.flowchart-container{
    /* display: flex;
    justify-content: center; */
    width: 100%;
}

.flowchart-container .trigger-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin-bottom: 50px;
}

.flow-box{
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 2px;   
}

.flow-box-title{
    font-size: 18px;
    margin-bottom: 10px;
}

.flow-box.light-grey-bg{
    background-color: #efefef;
}

.single-flow{
    display: flex;
    justify-content: center;
}

.flow-trail{
    width: 2px;
    height: 50px;
    padding: 0px !important;
    background-color: #000;
    text-align: center;
    box-shadow: none !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.conditional-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin-bottom: 50px;
}

.conditional-container .conditional-yes {
    width: 100%;
    max-width: 400px;
}

.conditional-container .conditional-no {
    width: 100%;
    max-width: 400px;
}

/* @media (max-width: 1440px) {
    .screenshots-of-popup .desktop-screenshot{
        width: 50%;
        max-width: 540px;
        
    }
    
    .screenshots-of-popup .mobile-screenshot{
        width: 50%;
        max-width: 480px;
    }
} */

@media (max-width: 992px){

    .project-page-content {
        padding-top: 75px;
    
    }

    .screenshots-of-popup{
        flex-wrap: wrap;
        gap: 40px;
    }

    .screenshots-of-popup .desktop-screenshot{
        width: 100%;
        
    }
    
    .screenshots-of-popup .mobile-screenshot{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .project-page-title-banner{
        font-size: 28px;
        line-height: 32px;
    }

    .screenshots-of-popup{
        flex-wrap: wrap;
    }

    .screenshots-of-popup .desktop-screenshot{
        width: 100%;
        
    }
    
    .screenshots-of-popup .mobile-screenshot{
        width: 100%;
    }

    .emails-container .email-content .email-info-left{
        width: 100%;
        
    }
    
    .emails-container .email-content .email-info-left .email-info-left-section{
        margin-bottom: 30px;
    }
    
    .emails-container .email-content .email-info-right{
        width: 100%;
        max-width: 400px;
    }

    .conditional-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: 100%;
        margin-bottom: 50px;
    }
}

@media (max-width: 650px) {
    .flowchart-container .trigger-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: 100%;
        margin-bottom: 50px;
    }

}



@media (max-width: 480px) {


    .project-page-title-banner{
        margin-top: 100px;
        font-size: 26px;
        line-height: 28px;
    }

    .project-page-content h2 {
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
    .project-page-content h3 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
    .project-page-content .ordered-list-numbers{
        font-size: 18px;
        line-height: 24px;
    }
}