.single-email h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}

.subject-line_preheader-container{
    margin: 10px auto;
    width: 100%;
    max-width: 700px;
    /* border: 2px solid #000; */
    padding: 20px;
    border-radius: 10px;
    /* text-align: center; */
}

/* .subject-line_preheader-container .subject-line{
    display: flex;
    gap: 10px;
    text-align: center;
} */

.desktop-mobile-email-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.desktop-mobile-email-container .desktop-side{
    width: 50%;
    max-width: 600px;

}

.desktop-mobile-email-container .desktop-side img{
    width: 100%;

}

.desktop-mobile-email-container .mobile-side{
    width: 50%;
    max-width: 360px;

}

.desktop-mobile-email-container .mobile-side img{
    width: 100%;

}

@media (max-width: 768px) {
    .desktop-mobile-email-container{
        flex-wrap: wrap;
        gap: 50px;
    }

    .desktop-mobile-email-container .desktop-side{
        width: 100%;
    
    }

    .desktop-mobile-email-container .mobile-side{
        width: 100%;
    
    }
}