*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    color: #263641;
}
html{
    scroll-behavior: smooth;;
  }

a{
    color: inherit;
    text-decoration: none;
}

p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.full-button {
    width: 100%;
    height: 60px;
    border: 1px solid #263641;
    background-color: #263641;
}

.full-button:hover{
    cursor: pointer;
    border: 1px solid #9ec4c3;
    background-color: #9ec4c3;
    color: #263641;

}

.full-button a{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    color: white;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-button a:hover{
    color: #263641;
}

.body-section{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin-left: 150px;
    margin-right: 150px; 
    margin-bottom: 50px;  
    max-width: 1800px;
}

/* START OF BRAND WORKED ON SECTION */

.body-section.brands-worked-for{
    padding-top: 0px !important;
}

.brands-worked-for-container {
    width: 100%;
}

.brands-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.brands-images img{
    width: 170px;
    justify-self: center;

}
/* END OF BRAND WORKED ON SECTION */





@media (max-width: 992px) {
    .body-section{
        margin-left: 50px;
        margin-right: 50px;
    }
    
}

@media (max-width: 768px) {
    .body-section{
        margin-left: 20px;
        margin-right: 20px;
    }

    .brands-images {
        gap: 30px;
    }

    .brands-images img{
        width: 100%;
        max-width: 130px;
    
    }

    .full-button a{
        font-size: 16px;
    }

    
}

@media (max-width: 480px) {
    /* START OF HERO SECTION */
    .body-section{
        padding-top: 0px !important;
    }

    .brands-images {
        grid-template-columns: repeat(2, 1fr);
        
    }

}