*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
html{
    scroll-behavior: smooth;;
  }

a{
    color: inherit;
    text-decoration: none;
}

p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.full-button {
    width: 100%;
    height: 60px;
    border: 1px solid black;
    background-color: black;
}

.full-button:hover{
    cursor: pointer;
}

.full-button a{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    color: white;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-section{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin-left: 150px;
    margin-right: 150px; 
    margin-bottom: 50px;  
}

/* START OF HERO SECTION */
.body-section.hero{
    padding-top: 0px !important;
    margin-bottom: 80px !important;
}

.hero-container {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    gap: 40px;
    padding-top: 100px;
}

.hero-container .introduction-text{
    width: 50%;
    max-width: 700px;
    align-self: center;
}

.hero-container .introduction-image{
    height: 50vh;
    width: 50%;
}


.hero-container .introduction-image .grey-box{
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
/* END OF HERO SECTION */

/* START OF BRAND WORKED ON SECTION */

.body-section.brands-worked-for{
    padding-top: 0px !important;
}

.brands-worked-for-container {
    width: 100%;
}

.brands-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.brands-images img{
    width: 170px;
    justify-self: center;

}
/* END OF BRAND WORKED ON SECTION */

/* START OF ABOUT ME SECTION */
.about-me-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.about-me-container .about-me-image{
    height: auto;
    width: 50%;
}

.about-me-container .about-me-image .grey-box{
    background-color: #f2f2f2;
    height: auto;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.about-me-container .about-me-image .grey-box img{
    
    height: 100%;
    width: 100%;
}

.about-me-container .about-me-text{
    width: 50%;
    max-width: 700px;
    align-self: center;
}

/* END OF ABOUT ME SECTION */

/* START OF PROJECT SECTION */
.projects-container{
    width: 100%;
    text-align: center;
}

.projects-container .projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:45px;
    justify-items: center;
}

.projects-container .projects .single-project{
    width: 100%;
}

.projects-container .projects .single-project .project-image{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}



.projects-container .projects .single-project .project-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-container .projects .single-project .title{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
}

/* .projects-container .projects .single-project button{
    width: 100%;
    height: 60px;
    border: 1px solid black;
    background-color: black;
}

.projects-container .projects .single-project button:hover{
    cursor: pointer;
}

.projects-container .projects .single-project a{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    color: white;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
} */



/* END OF PROJECT SECTION */



@media (max-width: 992px) {
    .body-section{
        margin-left: 50px;
        margin-right: 50px;
    }
    
}

@media (max-width: 768px) {
    .body-section{
        margin-left: 20px;
        margin-right: 20px;
    }

    /* START OF HERO SECTION */
    .hero-container {
        width: 100%;
        flex-wrap: wrap;
        
    }

    .hero-container .introduction-text{
        width: 100%;
        max-width: 700px;
        align-self: center;
    }
    
    .hero-container .introduction-image{
        height: 50vh;
        width: 100%;
    }  
    /* END OF HERO SECTION */ 

    /* START OF BRAND WORKED ON SECTION */

    .brands-images {
        gap: 30px;
    }

    .brands-images img{
        width: 100%;
        max-width: 130px;
    
    }
    /* END OF BRAND WORKED ON SECTION */

    /* START OF ABOUT ME SECTION */

    .about-me-container{
        width: 100%;
        flex-wrap: wrap;
    }

    .about-me-container .about-me-image{
        
        width: 100%;
    }

    .about-me-container .about-me-text{
        width: 100%;
    }

    /* END OF ABOUT ME SECTION */

    /* START OF PROJECT SECTION */

    .projects-container h1 {
        font-size: 36px !important; 
        line-height: 38px !important; 
        margin-bottom: 30px !important;
    }

    .projects-container .projects{
        grid-template-columns: repeat(2, 1fr);
        gap:30px;
    }

    .projects-container .projects .single-project .title{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    /* .projects-container .projects .single-project a{
        font-size: 16px;
    } */

    
    
    
    
    .full-button a{
        font-size: 16px;
    }
    /* END OF PROJECT SECTION */
}

@media (max-width: 480px) {
    /* START OF HERO SECTION */
    .body-section{
        padding-top: 0px !important;
    }

    
    .introduction-text h2{
        font-size: 24px !important; 
        line-height: 30px !important;
    }

    .introduction-text h1{
        font-size: 48px !important; 
        line-height: 48px !important;
    }

    .introduction-text p{
        font-size: 16px !important; 
        line-height: 24px !important;
    }
    /* END OF HERO SECTION */

    /* START OF BRAND WORKED ON SECTION */

    .brands-worked-for-container h2{
        font-size: 28px !important; 
        line-height: 34px !important; 
        font-weight: 700 !important; 
        margin-bottom: 30px !important;
    }

    .brands-images {
        grid-template-columns: repeat(2, 1fr);
        
    }
    /* END OF BRAND WORKED ON SECTION */

    /* START OF ABOUT ME SECTION */
    .about-me-text h2{
        font-size: 36px !important; 
        line-height: 36px !important;
    }

    /* END OF ABOUT ME SECTION */

    
    /* START OF PROJECT SECTION */
    .projects-container .projects{
        grid-template-columns: repeat(1, 1fr);
        gap:50px;
    }

    /* END OF PROJECT SECTION */
}